@import url(http://weloveiconfonts.com/api/?family=entypo);

body{
  background-color: #fefcfc;
  font-family: 'Raleway', cursive;
  color:#323232;
  text-align: center;
  width: 100%;
  height: 100%;
}

.container{
  width: 70%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color:#323232;
}

.main_title {
  font-size: 2.2em;
  font-family: 'Give You Glory', cursive;
  color:#323232;
}

.subtitle{
  font-size: 1.4em;
  font-family: 'Give You Glory', cursive;
  color:#323232;
  text-align: left;
  padding-left: 20px;
}

.about_me{
  font-size: 1em;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  /*padding-right: 20px;*/
}

#my_picture{
  width: 30%;
  length: 30%;
}

#intro_text{
  width:50%;
  float:right;
}

hr.border {
  border-style: solid;
  border-color: #eac2c7;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.border:before{
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #eac2c7;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}

/*social links styling */
.social_media_icons {
  margin-top: 6%;
}

.social_media_icons li {
  list-style-type: none;
}

.social_media_icon {
  float: left;
  display: block;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

section #social_links {
  text-align: center;
  transform: translatez(0);
}

#social_links a{
  text-decoration:none;
}
section #social_links li {
  width: 100px;
  height: 140px;
  display: inline-block;
  margin: 15px;
  list-style: none;
}

section #social_links li div {
  width: 85px;
  height: 85px;
  color: #fefcfc;
  font-size: 2.5em;
  text-align: center;
  line-height: 85px;
  border: 4px solid #F7E8EA;
  background-color: #F7E8EA;
  transition: all 0.5s ease;
  border-radius: 100px;
}

section #social_links li div:hover {
  transform: rotate(180deg);
  border: 4px double #eac2c7;
  /*background-color: lightgray;*/
}

section #social_links li span {
  width: 95px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color:#323232;
  font-family: 'Raleway', cursive;
  text-transform: lowercase;
  font-size: 1em;
  text-align: center;
}

.footer{
  background-color:#F7E8EA;
  color:#323232;
  width: 100%;
  height: 10%;
}
