body{background-color:black;}
/*h1,h2,h3,h4,p,li,a{color:white;}*/


@font-face {
  font-family: JohnBrown;
  src:
    url('JohnBrown.otf');
}

@font-face {
  font-family: Quicksand;
  src:
    url('Quicksand.otf');
}

.header{
  list-style: none;
  float: left;
  margin-left: 85px;
  font-size: 1.4em;
  font-family: "JohnBrown";
  color:white;}

}

#title{
  font-family: "JohnBrown";
  float:left;
  margin-left:5px;
  font-size: 1.4em;
  color:white;}
}

#content {width: 65%;
margin-left:auto;
margin-right: auto;
color:white;}

hr {clear:both;
border: 1px solid pink;}

ul{float: left;}

#about{clear: both;}

h2 {font-size: 1.4em;
  font-family: "JohnBrown";
  color:white;}

p, li{font-size: 1em;
font-family: "Quicksand";
color:white;}

a{color:white;
text-decoration: underline;}

.personal_links{font-size: 1em;
  font-family: "Quicksand";
  text-decoration: underline;
  color:white;
}

a:hover{text-shadow: 4px 4px 4px lightgray;}

a:active{font-weight: bold;}

li {margin-bottom: 10px;}

#projects {clear: both;}
