li{
  list-style: none;
  float: left;
  margin-left: 30px;
  font-size: 1.5em;
}

#title{
float:left;
margin-left:5px;
font-size: 1.5em;
}

ul{float: left;}

#about{clear: both;}

p{font-size: 2em;}

a{color:black;
text-decoration: none;}

a:active{text-shadow: 5px 5px 5px gray;}
