@import "mobile.css";

#about_me {
    height: 30%;
}

#main_name{
    font-size: 25px;
}

#nav li {
    margin-left: 5%;
    margin-right: 5%;
}

#nav a {
    font-size: 16px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

#projects a{
  top:0;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  /*color: black;*/
}

#projects figure {
  position: relative;
  top: -80px;
  margin:0;
}

#projects figcaption {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*skills*/

#skills h2 {
  font-size: 24px;
  margin-top: 3%;
}

#skill_icons {
    position: relative;
    padding: 0;
}

#skill_icons img {
    text-align: center;
    margin-left: 4%;
    margin-top: auto;
    margin-right: 4%;
    margin-bottom: auto;
    width: 120px;
    height: 120px;
    padding: 0;
}

.skill_buttons {
  font-size: 16px;
  margin: 3%;
  width: 20%;
}
#about_me{
  text-align: center;
}

#about_me_image {
    display: block;
    margin-top: 3%;
    margin-left: 5%;;
    margin-bottom: 5%;
    margin-right: auto;
    border-radius: 5px;
    width: 45%;
    float:left;
}

#about_me_text {
    font-family: Quicksand;
    text-align: center;
    float:right;
    width: 40%;
    padding: 3%;
    font-size: 17px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

#resume{
    font-size: 20px;
    padding: 1%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;

}

#contact_message{
  padding: 1%;
}

#contact {
    margin-top: 2%;
    margin-bottom: 2%;
}

#contact label {
  margin-left: 24%;
}

#contact_name, #email {
  width: 50%;
  margin: 1%;
}

#message {
    width: 50%;
}

#send {
    font-size: 20px;
}
