@import "mobile.css";

/*background colors and shadows of each section*/
.container{
  height:3000px;
}

#projects{
  background-color:#F6CACA;
  box-shadow: 0px 0px 10px gray;
  position: relative;
  bottom: 130px;
  padding-bottom: 50px;
  margin: 0;
  border-radius: 5px;
}

#skills {
  background-color:#2F323A;
  box-shadow: 0px 0px 15px #888888;
  position: relative;
  padding-bottom: 50px;
  bottom: 210px;
  margin: 0;
  border-radius: 5px;
}

#about_me {
  background-color:#F6CACA;
  box-shadow: 0px 0px 10px gray;
  position: relative;
  padding-bottom: 150px;
  bottom: 240px;
  margin: 0;
  border-radius: 5px;
}

#contact {
  opacity: 1;
  background-color: #2F323A;
  box-shadow: 0px 0px 15px #888888;
  position: relative;
  padding-bottom: 80px;
  bottom: 250px;
  margin: 0;
  border-radius: 5px;
}

#nav{
  padding-top: 5px;
  background-color: white;
  padding-bottom: 50px;
  border-radius: 5px;
  border:white;
}

#top {
    width: 100%;
    border-color: gray;
    border-style: dashed;
    position:relative;
    bottom: 100px;
}
/*styling of the page*/

#main_name{
    font-size: 25px;
}

#nav li {
    margin-left: 5%;
    margin-right: 5%;
}

#nav a {
    font-size: 17px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

#projects_title{
  text-align: center;
  font-family: Quickand, "Century Gothic";
}
#projects a{
  top:0;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

#projects figure {
  position: relative;
  margin: auto;
  margin-top: 10%;
}

#projects figcaption {
  margin-top: 20px;
  margin-bottom: 20px;
}


/*skills*/

#skills h2 {
  padding-top: 60px;
  font-size: 24px;;
}

#skill_icons {
    position: relative;
    padding: 0;
}

#skill_icons img {
    text-align: center;
    margin-left: 4%;
    margin-top: auto;
    margin-right: 4%;
    margin-bottom: auto;
    width: 120px;
    height: 120px;
    padding: 0;
}

.skill_buttons {
  font-size: 16px;
  margin: 3%;
  width: 20%;
}

/*about me*/

#about_me h2 {
  font-family: Quicksand, "Century Gothic";
  padding-top: 40px;
  font-size: 24px;;
}

#about_me{
  text-align: center;
}

#about_me_image {
    box-shadow: 0px 0px 10px black;
    display: block;
    margin-top: 3%;
    margin-left: 5%;;
    margin-bottom: 5%;
    margin-right: auto;
    border-radius: 5px;
    width: 45%;
    float:left;
}

#about_me_text {
    font-family: Quicksand, "Century Gothic";
    text-align: center;
    float:right;
    width: 40%;
    padding: 3%;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

#resume{
    box-shadow: 0px 0px 5px black;
    font-size: 20px;
    padding: 1%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;

}

#skills h2{
  color: white;
}

#skills h2:hover{
  color:white;
  text-decoration: underline;
}
#contact_message{
  padding: 1%;
}

#contact h1 {
   margin-top: 40px;
}

#contact label {
  margin-left: 24%;
}

#contact_name, #email {
  width: 50%;
  margin: 1%;
}

#message {
    width: 50%;
}

#send {
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
    margin-bottom: 0;
}

#footer{
  position: relative;
  margin-bottom: 12px;
  bottom: 220px;
}
