@import "mobile.css";

/*background colors and shadows of each section*/
.container{
  height:3400px;
}
#projects{
  background-color: #EF9EA4;
  box-shadow: 0px 0px 10px black;
  position: relative;
  bottom: 50px;
  padding-bottom: 50px;
  margin: 0;
}

#skills {
  background-color:#BBE5ED;
  box-shadow: 0px 0px 10px black;
  position: relative;
  padding-bottom: 50px;
  bottom: 130px;
  margin: 0;
}

#about_me {
  background-color: #B4EDD2;
  box-shadow: 0px 0px 10px black;
  position: relative;
  padding-bottom: 150px;
  bottom: 150px;
  margin: 0;
}

#contact {
  opacity: .8;
  background-color: #A3A3A3;
  box-shadow: 0px 0px 10px black;
  position: relative;
  padding-bottom: 80px;
  bottom: 150px;
  margin: 0;
}


/*styling of the page*/

#main_name{
    font-size: 25px;
}

#nav li {
    margin-left: 5%;
    margin-right: 5%;
}

#nav a {
    font-size: 16px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

#projects a{
  top:0;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

#projects figure {
  position: relative;
  margin: auto;
  margin-top: 10%;
}

#projects figcaption {
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects img {
    box-shadow: 0px 0px 10px black;
}

/*skills*/

#skills h2 {
  padding-top: 60px;
  font-size: 24px;;
}

#skill_icons {
    position: relative;
    padding: 0;
}

#skill_icons img {
    text-align: center;
    margin-left: 4%;
    margin-top: auto;
    margin-right: 4%;
    margin-bottom: auto;
    width: 120px;
    height: 120px;
    padding: 0;
}

.skill_buttons {
  font-size: 16px;
  margin: 3%;
  width: 20%;
}

/*about me*/

#about_me h2 {
  font-family: Quicksand;
  padding-top: 40px;
  font-size: 24px;;
}

#about_me{
  text-align: center;
}

#about_me_image {
    box-shadow: 0px 0px 10px black;
    display: block;
    margin-top: 3%;
    margin-left: 5%;;
    margin-bottom: 5%;
    margin-right: auto;
    border-radius: 5px;
    width: 45%;
    float:left;
}

#about_me_text {
    font-family: Quicksand;
    text-align: center;
    float:right;
    width: 40%;
    padding: 3%;
    font-size: 17px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

#resume{
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
    padding: 1%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;

}

#contact_message{
  padding: 1%;
}

#contact h1 {
   margin-top: 40px;
}

#contact label {
  margin-left: 24%;
}

#contact_name, #email {
  width: 50%;
  margin: 1%;
}

#message {
    width: 50%;
}

#send {
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
    margin-bottom: 0;
}

#footer{
  position: relative;
  bottom: 130px;
}
