@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand.otf');
}

.container{
  height:2500px;
}

#projects{
  background-color:#F6CACA;
  box-shadow: 0px 0px 10px gray;
  position: relative;
  bottom: 130px;
  padding-bottom: 50px;
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

#skills {
  background-color:#2F323A;
  box-shadow: 0px 0px 15px #888888;
  position: relative;
  padding-bottom: 50px;
  bottom: 210px;
  margin: 0;
  border-radius: 5px;
  width:100%;
}

#about_me {
  background-color:#F6CACA;
  box-shadow: 0px 0px 10px gray;
  position: relative;
  padding-bottom: 150px;
  bottom: 240px;
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

#contact {
  opacity: 1;
  background-color: #2F323A;
  box-shadow: 0px 0px 15px #888888;
  position: relative;
  padding-bottom: 80px;
  bottom: 250px;
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

#nav{
  padding-top: 5px;
  background-color: white;
  padding-bottom: 50px;
  border-radius: 5px;
  border:white;
  width: 100%;
}

/*landing page*/

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 25px;
}

#main_name{
    text-align: center;
    position: relative;
    bottom: 125px;
    font-size: 18px;
    font-family: Quicksand;
}

/*keep the same for the rest of the css files*/
.social_media_icons{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  padding: 0;
  bottom: 130px;
  margin-top: 2%;
}

.social_media_icons ul{
  list-style: none;
  padding: 0;

}
.social_media_icons li{
  display: inline-block;;
  padding: 0;
}

.social_media_icons img{
  width: 60%;
  height: 60%;
}

#nav {
    border-width: 1px 0;
    text-align: center;
    position: relative;
    bottom: 100px;
}
#nav li {
    display: inline;
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
}
#nav a {
    color: black;
    font-family: Quicksand;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#nav ul {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}

#nav a:hover {
    text-decoration: underline;
    color: #ef9ea4;
}

/*projects*/


#projects a{
  margin-top: 5%;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}


#projects figure {
  overflow: hidden;
  display: block;
}

#projects figcaption {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Quicksand;
  color: black;
  font-size: 16px;
  text-align: center;
}

#projects img {
  box-shadow: 0px 0px 10px black;
  border: none;
  width: 100%;
  height: auto;
  display: block;
  width: 90%;
  height: 90%;
  margin-left: 5%
}


hr, #top {
    width: 100%;
    border-color: gray;
    border-style: dashed;
}

#top{
  position: relative;
  bottom: 100px;
}

/*skills*/

#skills h2{
  font-family: Quicksand;
  font-size: 18px;
  color: white;
  margin-top: 5%;
  padding-top: 15px;
}

#skills h2:hover{
  text-decoration: underline;
  color: black;
}

#skills {
    text-align: center;
    position: relative;
}
.skill_buttons {
  font-size: 14px;
  margin-top: 5%;
  font-weight: bold;
  font-family: Quicksand;
  text-align: center;
  border: 3px solid  #ef9ea4;
  /*background-color: white;*/
  color: black;
  border-radius: 5px;
  padding: 5px;
}

#skill_icons {
  margin-top: 5%;
  margin-bottom: 5%;
}

#skill_icons img {
    margin: auto;
    width:95px;
    height:95px;
}

.skill_buttons:active, .skill_buttons:focus, .skill_buttons:hover {
    background-color: #ef9ea4;
    box-shadow: 0px 2px 1px gray;
    outline: none;
  }
/*about me*/
#about_me{
  text-align: center;
}

#about_me h2 {
  font-family: Quicksand;
  padding-top: 40px;
  font-size: 24px;;
}

#about_me_image {
    border-radius: 5px;
    /*float: left;*/
    height: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

}
#about_me_text {
    font-family: Quicksand;
    text-align: center;
    float: right;
    width: 100%;
    font-size: 14px;
    margin: auto;
    position: relative;
    color: black;
    font-weight: bold;
    border-radius: 5px;

}
#resume {
    text-align: center;
    background-color: black;
    font-size: 16px;
    border-radius: 5px;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    margin-bottom: 5%;
}

#resume a {
    color: white;
    font-family: Quicksand;
    text-decoration: none;
}


#resume:hover, #view_all_button:hover {
    background-color: #ef9ea4;
    border-color: #ef9ea4;
}

/*contact*/

#contact{
  text-align: center;
}

input, textarea {
  box-shadow:0 0 5px #ef9ea4;
  outline: none;
}

#contact_message h1 {
  font-size: 18px;
}
#contact_message{
  font-size: 18px;
  padding: 5%;
}

#contact h1, #contact label, #contact p {
    color: white;
    margin: 0;
    text-align: center;
    font-family: Quicksand;
}

#contact label {
  float: left;
  text-align: center;
  margin-left: 15%;
}

#contact_name, #email {
  background-color: #f8f8f8;
  width: 60%;
  font-size: 14px;
  padding: 10px;
  margin: 1%;
  border-radius: 4px;
  font-family: Quicksand;
  resize: none;
}

#message {
    width: 60%;
    margin: auto;
    margin: 1%;
    height: 150px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: Quicksand;
    resize: none;
}
#send {
    width: 40%;
    padding: 5px;
    background-color: black;
    border: 1px solid #ef9ea4;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    font-family: Quicksand;
    margin: auto;
    margin-bottom: 5%;
}

#send:hover {
  background-color: #ef9ea4;
  border-color: #ef9ea4;
}

#footer {
    text-align: center;
    font-size: 18px;
    font-family: Quicksand;
    position: relative;
    margin-bottom: 12px;
    bottom: 220px;
}

#up_arrow {
    width: 40px;
    float: right;
    height: 40px;
    background-color: lightgray;
    opacity: .5;
    border-radius: 5px;
    position: fixed;
    bottom: 9px;
    right: 25px;
}
