@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand.otf');
}
#projects, #skills {
    width: 100%;
    height: 500px;
}
#about_me {
    width: 100%;
    height: 560px;
}
#contact {
    width: 100%;
    height: 520px;
}

/*landing page*/

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 25px;
}
.name {
    text-align: center;
    position: relative;
    bottom: 125px;
    font-size: 25px;
    font-family: Quicksand;
}
#nav {
    border: 1px solid gray;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 100px;
}
#nav li {
    display: inline;
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
}
#nav a {
    color: black;
    font-family: Quicksand;
    text-decoration: none;
    font-weight: bold;
}
#nav ul {
    text-align: center;
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#nav a:hover {
    text-decoration: underline;
    color: #ef9ea4;
}

/*.caption {
    position: relative padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-family: Quicksand;
    text-align: center;
}*/


/*#view_all_button {
    background-color: white;
    border-color: black;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-left: 90%;
    padding: 5px;
}*/

hr {
    width: 100%;
}

/*skills*/

#skills {
    text-align: center;
    position: relative;
    bottom: 100px;
}
#skill_icons {
    position: relative;
    bottom: 100px;
    padding: 0;
}
#skill_icons img {
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}
.skill_buttons {
    margin: 10%;
    font-weight: bold;
    font-family: Quicksand;
    text-align: center;
    width: 13%;
}
.skill_buttons:active, .skill_buttons:focus, .skill_buttons:hover {
    background-color: #ef9ea4;
}
button {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

/*about me*/

#about_me_image {
    position: relative;
    margin: auto;
    margin-left: 26%;
    margin-top: 5%;
    border-radius: 5px;
    border: 10px solid #ef9ea4;
}
#about_me_text {
    font-family: Quicksand;
    text-align: center;
    float: right;
    border: 1px solid gray;
    width: 315px;
    height: 300px;
    font-size: 16px;
    margin: auto;
    margin-right: 22%;
    margin-top: 2%;
    padding: 1%;
    position: relative;
    /*round corners*/
    border-radius: 5px;
}
#resume {
    background-color: black;
    width: 15%;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: block;
    padding: 0px;
}
#resume a {
    color: white;
    font-family: Quicksand;
    text-decoration: none;
}
#social_media_icons {
    margin-left: 38%;
}
#social_media_icons li {
    list-style: none;
    display: inline-block;
    margin-right: 5%;
    position: relative;
}
#social_media_icons a {
    text-decoration: none;
}
#resume:hover, #view_all_button:hover {
    background-color: #ef9ea4
}

/*contact*/
input, textarea {
  box-shadow:0 0 5px #ef9ea4;
}

#contact {
    background-color: black;
    opacity: .75;
    border-radius: 5px;
    text-align: center;
}
#contact h1, #contact label, #contact p {
    color: white;
    margin: 0;
    text-align: center;
    font-family: Quicksand;
}

#name, #email {
  background-color: #f8f8f8;
  font-size: 16px;
  padding: 10px;
  margin: 1%;
  border-radius: 4px;
  font-family: Quicksand;
  resize: none;
}

#message {
    margin: auto;
    margin: 1%;
    margin-left: 4%;
    height: 150px;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: Quicksand;
    resize: none;
}
#send {
    background-color: #f8f8f8;
    border: 3px solid #ef9ea4;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    font-family: Quicksand;
    margin-right: 25%;
    float: right;
}
#footer {
    text-align: center;
    font-size: 18px;
    font-family: Quicksand;
}
#up_arrow {
    width: 3%;
    float: right;
    height: 6%;
    background-color: lightgray;
    opacity: .5;
    border-radius: 5px;
    position: fixed;
    bottom: 9px;
    right: 25px;
}
