body{
  background-color: #fefbfb;
  color: black;
  text-align: center;
  width: 100%;
  height: 100%;
}

h2{
  font-size: 2.2em;
  font-family: 'Give You Glory', cursive;
}

.container{
  width: 70%;
  margin:0 auto;
}

hr.border {
  height: 30px;
  border-style: solid;
  border-color: #F7E8EA;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.border:before{
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #F7E8EA;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
