body{
  background-color: #F2CBD3;
  color: #1F1E21;
  /*font-family: 'Bubbler One', sans-serif;*/
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 40px;
  width: 100%;
  height: 100%;
}
